h1{
	color: #000;
    font-size: 2em;
    margin-bottom: .3em;
    text-align: center;
}
h2{
	color: #000;
    font-size: 1em;
    margin-bottom: .3em;
    text-align: center;
}
header{
	background-image: linear-gradient(to right, #add8e6 , #fff);
	margin: 0;
	padding: 40px;
  	text-align: center;
  	color: #000;
  	font-size: 30px;
  }
  .navbar {
  overflow: hidden;
  background-color: #fff;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100

}
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #fff;
  color: black;
}

.flex-container-Row {
  display: flex;
  flex-wrap: wrap;
  width:100%;
}

.flex-container-Row > div {
  background-color: #f1f1f1;
  flex: 1;
  min-width:300px;
  margin: 10px;
  padding:5px;
  text-align: center;
  height:770px;
  font-size: 30px;
}
#big{
	flex: 2 0 0;
	background-color: white;
}
#small{
	flex: 1 0 0;
}
#big1{
	flex: 6 0 0;
	background-color: white;
}
#small1{
	flex: 4 0 0;
	background-color: white;
	padding-top:20px;
}
#One{
	margin: 0px;
	padding: 0px;
  text-align: center;
  height:700px;
  font-size: 30px;
  background-color: #f1f1f1;
}
#Two{
	margin: 10px;
	padding-top:5px
  text-align: center;
  height:450px;
  font-size: 30px;
  background-color: #f1f1f1;
}
#button{
	position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #800020;
  color: white;
  font-size: 16px;
  padding: 30px 60px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
footer{
	background-color: #f1f1f1;
	height:65px;
	width:100%;
	padding:10px;
	margin:0px;
	text-align: center;
}
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
	left: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;`
}

.active,
.demo:hover {
  opacity: 1;
}